name: CI Release

on:
  push:
    tags:
      - "[0-9].[0-9].[0-9]" # Trigger sur les tags de release MAJOR.MINOR.PATCH

jobs:
  # Frontend Build
  frontend-ci:
    name: Frontend - Build & Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Run lint
        working-directory: ./frontend
        run: npm run lint

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist

  # Backend Publish
  backend-ci:
    name: Backend - Publish & Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish backend
        working-directory: ./backend
        run: dotnet publish -c Release -o publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-publish
          path: backend/pu
