name: CI Release

on:
  push:
    tags:
      - "[0-9].[0-9].[0-9]"

jobs:
  # Frontend
  frontend-ci:
    name: Frontend - Build & Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Install deps
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist

  # Backend
  backend-ci:
    name: Backend - Publish & Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish backend
        working-directory: backend
        run: dotnet publish -c Release -o publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-publish
          path: backend/publish
